<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
    <h1>Детальная инфомация</h1>
    <h2>{{lang_key.title}}</h2>
    <p>{{lang_key.description}}</p>
    <img src="{{lang_key.image.url}}" alt="lang_prog">
    <p>{{lang_key.actuality}}</p>
    <iframe src="{{lang_key.video}}" frameborder="0"></iframe>
    <p>{{lang_key.created_date_lang}}</p>
    <p>{{lang_key.created_at}}</p>

    <table border="2">
        <tr>
            <th>Дата создания отзыва</th> <th>Комент</th> <th>Оценка</th>
        </tr>

        {% for i in lang_key.review_object.all %}
        <tr>
            <td>{{i.created_at}}</td> <td>{{i.text_review}}</td> <td>{{i.rate_stars}}</td>
        </tr>
        {% endfor %}

    </table>

</body>
</html>